<!--coins from bc era-->
<div class="coin-card col-md-4" data-country="India" data-era="B.C." data-rarity="Ultra Rare" data-type="coin">
  <img src="/static/coins/india/bc/500px-Mauryan_Empire._Circa_late_4th-2nd_century_BC.jpg" alt="maurayn empire coin" class="img-fluid mb-2 rounded">
  <h4>Mauryan_Empire coin</h4>
  <p>India, B.C., Ultra Rare, Coin</p>
</div>

<div class="coin-card col-md-4" data-country="India" data-era="B.C." data-rarity="Ultra Rare" data-type="coin">
  <img src="/static/coins/india/bc/Kosala_Karshapana.jpg" alt="kosala karshapana Coin" class="img-fluid mb-2 rounded">
  <h4>Kosala Karshapana Coin</h4>
  <p>India, B.C., Ultra Rare, Coin</p>
</div>

<div class="coin-card col-md-4" data-country="India" data-era="B.C." data-rarity="Ultra Rare" data-type="coin">
  <img src="/static/coins/india/bc/Seal_coin_of_the_Ror_Empire_(Kuru).jpg" alt="Seal Coin of Ror empire" class="img-fluid mb-2 rounded">
  <h4>Seal Coin of Ror Empire</h4>
  <p>India, B.C., Ultra Rare, Coin</p>
</div>

<div class="coin-card col-md-4" id="feature1" data-country="India" data-era="B.C." data-rarity="Ultra Rare" data-type="coin">
  <img src="/static/coins/india/bc/Taxila_gold_coin_185-170_BC.jpg" alt="Taxila gold Coin" class="img-fluid mb-2 rounded">
  <h4>Taxila gold Coin</h4>
  <p>India, B.C., Ultra Rare, Coin</p>
</div>

<!-- till 500-->

<div class="coin-card col-md-4" data-country="India" data-era="0-500" data-rarity="Ultra Rare" data-type="coin">
  <img src="/static/coins/india/till 500/Coin_of_Philoxenos.jpg" alt="Coin_of_Philoxenos" class="img-fluid mb-2 rounded">
  <h4>Coin_of_Philoxenos</h4>
  <p>India, 0-500, Ultra Rare, Coin</p>
</div>


<div class="coin-card col-md-4" data-country="India" data-era="0-500" data-rarity="Ultra Rare" data-type="coin">
  <img src="/static/coins/india/till 500/Queen_Kumaradevi_and_King_Chandragupta_I_on_a_coin.jpg" alt="Queen_Kumaradevi_and_King_Chandragupta_I_on_a_coin" class="img-fluid mb-2 rounded">
  <h4>Queen_Kumaradevi_and_
    King_Chandragupta_I_on_a_coin</h4>
  <p>India, 0-500, Ultra Rare, Coin</p>
</div>

<div class="coin-card col-md-4" data-country="India" data-era="0-500" data-rarity="Ultra Rare" data-type="coin">
  <img src="/static/coins/india/till 500/Silver_Coin_of_Chandragupta_II.jpg" alt="Silver_Coin_of_Chandragupta_II" class="img-fluid mb-2 rounded">
  <h4>Silver_Coin_of_Chandragupta_II</h4>
  <p>India, 0-500, Ultra Rare, Coin</p>
</div>

<div class="coin-card col-md-4" data-country="India" data-era="0-500" data-rarity="Ultra Rare" data-type="coin">
  <img src="/static/coins/india/till 500/Two_Gold_coins_of_Chandragupta_II.jpg" alt="Two_Gold_coins_of_Chandragupta_II" class="img-fluid mb-2 rounded">
  <h4>Two_Gold_coins_of_Chandragupta_II</h4>
  <p>India, 0-500, Ultra Rare, Coin</p>
</div>


<!-- 500-1000 -->
<div class="coin-card col-md-4" data-country="India" data-era="500-1000" data-rarity="Ultra Rare" data-type="coin">
  <img src="/static/coins/india/till 1000/330px-Chaulukya-Paramara_coin_circa_AD_950-1050.jpg" alt="Chaulukya-Paramara_coin" class="img-fluid mb-2 rounded">
  <h4>Chaulukya-Paramara_coin</h4>
  <p>India, 500-1000, Ultra Rare, Coin</p>
</div>

<div class="coin-card col-md-4" data-country="India" data-era="500-1000" data-rarity="Ultra Rare" data-type="coin">
  <img src="/static/coins/india/till 1000/330px-Sindh._Gurjura_Confederacy._Circa_AD_570-712.jpg" alt="Sindh._Gurjura_Confederacy._Circa" class="img-fluid mb-2 rounded">
  <h4>Sindh._Gurjura_Confederacy._Circa</h4>
  <p>India, 500-1000, Ultra Rare, Coin</p>
</div>
<div class="coin-card col-md-4" data-country="India" data-era="500-1000" data-rarity="Ultra Rare" data-type="coin">
  <img src="/static/coins/india/till 1000/Chola_coin_with_legend__Uttama__(south_India) (1).jpg" alt="Chola_coin_with_legend__Uttama" class="img-fluid mb-2 rounded">
  <h4>Chola_coin_with_legend__Uttama</h4>
  <p>India, 500-1000, Ultra Rare, Coin</p>
</div>



<div class="coin-card col-md-4" data-country="India" data-era="500-1000" data-rarity="Ultra Rare" data-type="coin">
  <img src="/static/coins/india/till 1000/Gurjara-Pratihara_coinage.jpg" alt="Gurjara-Pratihara_coin" class="img-fluid mb-2 rounded">
  <h4>Gurjara-Pratihara_coin</h4>
  <p>India, 500-1000, Ultra Rare, Coin</p>
</div>


<!-- 1000-1500-->

<div class="coin-card col-md-4" data-country="India" data-era="1000-1500" data-rarity="Ultra Rare" data-type="coin">
  <img src="/static/coins/india/till 1500/500px-Deogir.jpg" alt="Deogir coin" class="img-fluid mb-2 rounded">
  <h4>Deogir coin</h4>
  <p>India, 1000-1500, Ultra Rare, Coin</p>
</div>

<div class="coin-card col-md-4" data-country="India" data-era="1000-1500" data-rarity="Ultra Rare" data-type="coin">
  <img src="/static/coins/india/till 1500/Alauddin_Khalji.png" alt="Alauddin_Khalji coin" class="img-fluid mb-2 rounded">
  <h4>Alauddin_Khalji coin</h4>
  <p>India, 1000-1500, Ultra Rare, Coin</p>
</div>

<div class="coin-card col-md-4" data-country="India" data-era="1000-1500" data-rarity="Ultra Rare" data-type="coin">
  <img src="/static/coins/india/till 1500/Balban_Jital_reverse.png" alt="Balban_Jital coin" class="img-fluid mb-2 rounded">
  <h4>Balban_Jital coin</h4>
  <p>India, 1000-1500, Ultra Rare, Coin</p>
</div>

<div class="coin-card col-md-4" data-country="India" data-era="1000-1500" data-rarity="Ultra Rare" data-type="coin">
  <img src="/static/coins/india/till 1500/Jital_reverse.png" alt="Jital coin" class="img-fluid mb-2 rounded">
  <h4>Jital coin</h4>
  <p>India, 1000-1500, Ultra Rare, Coin</p>
</div>

<div class="coin-card col-md-4" data-country="India" data-era="1000-1500" data-rarity="Ultra Rare" data-type="coin">
  <img src="/static/coins/india/till 1500/Muhammad_bin_Tughluq.png" alt="Muhammad_bin_Tughluq coin" class="img-fluid mb-2 rounded">
  <h4>Muhammad_bin_Tughluq coin</h4>
  <p>India, 1000-1500, Ultra Rare, Coin</p>
</div>

<div class="coin-card col-md-4" data-country="India" data-era="1000-1500" data-rarity="Ultra Rare" data-type="coin">
  <img src="/static/coins/india/till 1500/Silver_rupee_of_Rudra_Simha.jpg" alt="Silver_rupee_of_Rudra_Simha" class="img-fluid mb-2 rounded">
  <h4>Silver_rupee_of_Rudra_Simha</h4>
  <p>India, 1000-1500, Ultra Rare, Coin</p>
</div>

<!-- 1500s -->

<div class="coin-card col-md-4" data-country="India" data-era="1500s" data-rarity="Very Rare" data-type="coin">
  <img src="/static/coins/india/1500s/500px-Sher_shah's_rupee.jpg" alt="Sher_shah's_rupee" class="img-fluid mb-2 rounded">
  <h4>Sher_shah's_rupee</h4>
  <p>India, 1500s, Very Rare, Coin</p>
</div>

<div class="coin-card col-md-4" data-country="India" data-era="1500s" data-rarity="Very Rare" data-type="coin">
  <img src="/static/coins/india/1500s/500px-Silver_Rupee_Akbar.jpg" alt="Silver_Rupee_Akbar" class="img-fluid mb-2 rounded">
  <h4>Akbar's silver rupee</h4>
  <p>India, 1500s, Very Rare, Coin</p>
</div>

<div class="coin-card col-md-4" data-country="India" data-era="1500s" data-rarity="Very Rare" data-type="coin">
  <img src="/static/coins/india/1500s/murtada nizam shah 1.jpg" alt="murtada nizam shah rupee" class="img-fluid mb-2 rounded">
  <h4>murtada nizam shah rupee</h4>
  <p>India, 1500s, Very Rare, Coin</p>
</div>

<div class="coin-card col-md-4" data-country="India" data-era="1500s" data-rarity="Very Rare" data-type="coin">
  <img src="/static/coins/india/1500s/murtaza 2.jpg" alt="murtaza coin 2" class="img-fluid mb-2 rounded">
  <h4>murtaza coin 2</h4>
  <p>India, 1500s, Very Rare, Coin</p>
</div>

<!-- 1600s-->
<div class="coin-card col-md-4" data-country="India" data-era="1600s" data-rarity="Very Rare" data-type="coin">
  <img src="/static/coins/india/1600s/1 fasal abu hasan qutub shah.jpg" alt="fasal abu hasan qutub shah coin " class="img-fluid mb-2 rounded">
  <h4>fasal abu hasan qutub shah coin</h4>
  <p>India, 1600s, Very Rare, Coin</p>
</div>

<div class="coin-card col-md-4" data-country="India" data-era="1600s" data-rarity="Very Rare" data-type="coin">
  <img src="/static/coins/india/1600s/maratha coins.jpg" alt="maratha coins" class="img-fluid mb-2 rounded">
  <h4>maratha coins</h4>
  <p>India, 1600s, Very Rare, Coin</p>
</div>

<div class="coin-card col-md-4" data-country="India" data-era="1600s" data-rarity="Very Rare" data-type="coin">
  <img src="/static/coins/india/1600s/Mogul-_Jahangir_-_Münzkabinett,_Berlin_-_5549609.jpg" alt="Mogul-_Jahangir coin " class="img-fluid mb-2 rounded">
  <h4>Mogul Jahangir coin</h4>
  <p>India, 1600s, Very Rare, Coin</p>
</div>

<div class="coin-card col-md-4" data-country="India" data-era="1600s" data-rarity="Very Rare" data-type="coin">
  <img src="/static/coins/india/1600s/murtaza nizam shah 3.jpg" alt="murtaza nizam shah coin 3 " class="img-fluid mb-2 rounded">
  <h4>murtaza nizam shah coin 3</h4>
  <p>India, 1600s, Very Rare, Coin</p>
</div>

<div class="coin-card col-md-4" data-country="India" data-era="1600s" data-rarity="Very Rare" data-type="coin">
  <img src="/static/coins/india/1600s/MWI3371-Sivaji-CNG73.1186-2.81g-7h.jpg" alt="Sivaji coin " class="img-fluid mb-2 rounded">
  <h4>Sivaji coin</h4>
  <p>India, 1600s, Very Rare, Coin</p>
</div>

<!-- 1700s-->
<div class="coin-card col-md-4" data-country="India" data-era="1700s" data-rarity="Very Rare" data-type="coin">
  <img src="/static/coins/india/1700s/maratha confederacy ahmad shah.jpg" alt="maratha confederacy ahmad shah coin " class="img-fluid mb-2 rounded">
  <h4>maratha confederacy ahmad shah coin</h4>
  <p>India, 1700s, Very Rare, Coin</p>
</div>

<div class="coin-card col-md-4" data-country="India" data-era="1700s" data-rarity="Very Rare" data-type="coin">
  <img src="/static/coins/india/1700s/maratha confederacy ahmad shah.jpg" alt="maratha confederacy ahmad shah coin " class="img-fluid mb-2 rounded">
  <h4>maratha confederacy ahmad shah coin</h4>
  <p>India, 1700s, Very Rare, Coin</p>
</div>

<div class="coin-card col-md-4" data-country="India" data-era="1700s" data-rarity="Very Rare" data-type="coin">
  <img src="/static/coins/india/1700s/maratha confederacy ahmad shah.jpg" alt="maratha confederacy ahmad shah coin " class="img-fluid mb-2 rounded">
  <h4>maratha confederacy ahmad shah coin</h4>
  <p>India, 1700s, Very Rare, Coin</p>
</div>

<!-- 1800s-->

<div class="coin-card col-md-4" data-country="India" data-era="1800s" data-rarity="Very Rare" data-type="coin">
  <img src="/static/coins/india/1800s/1 pice coin shah alam 2.jpg" alt="1 pice coin shah alam" class="img-fluid mb-2 rounded">
  <h4>1 pice coin shah alam</h4>
  <p>India, 1800s, Very Rare, Coin</p>
</div>

<div class="coin-card col-md-4" data-country="India" data-era="1800s" data-rarity="Very Rare" data-type="coin">
  <img src="/static/coins/india/1800s/1 pie.jpg" alt="1 pie" class="img-fluid mb-2 rounded">
  <h4>1 pie</h4>
  <p>India, 1800s, Very Rare, Coin</p>
</div>

<div class="coin-card col-md-4" data-country="India" data-era="1800s" data-rarity="Very Rare" data-type="coin">
  <img src="/static/coins/india/1800s/1by2 pie 1809.jpg" alt="1/2 pie 1809" class="img-fluid mb-2 rounded">
  <h4>1/2 pie 1809</h4>
  <p>India, 1800s, Very Rare, Coin</p>
</div>

<div class="coin-card col-md-4" data-country="India" data-era="1800s" data-rarity="Very Rare" data-type="coin">
  <img src="/static/coins/india/1800s/East_India_Company_One_Quarter_Anna_coin_of_1835.jpg" alt="East_India_Company_One_Quarter_Anna_coin_of_1835" class="img-fluid mb-2 rounded">
  <h4>East_India_Company
    One_Quarter_Anna_coin_of_1835</h4>
  <p>India, 1800s, Very Rare, Coin</p>
</div>

<div class="coin-card col-md-4" data-country="India" data-era="1800s" data-rarity="Very Rare" data-type="coin">
  <img src="/static/coins/india/1800s/India_1862_One_Mohur.jpg" alt="India_1862_One_Mohur" class="img-fluid mb-2 rounded">
  <h4>India 1862 One Mohur</h4>
  <p>India, 1800s, Very Rare, Coin</p>
</div>

<div class="coin-card col-md-4" data-country="India" data-era="1800s" data-rarity="Very Rare" data-type="coin">
  <img src="/static/coins/india/1800s/Rupee,_1840_-_British_India,_Victoria.jpg" alt="Rupee,_1840_-_British_India" class="img-fluid mb-2 rounded">
  <h4>Rupee 1840 British_India</h4>
  <p>India, 1800s, Very Rare, Coin</p>
</div>

<!-- 1900s -->
<div class="coin-card col-md-4" data-country="India" data-era="1900s" data-rarity="Rare" data-type="coin">
  <img src="/static/coins/india/1900s/1_Indian_rupee_(1918).jpg" alt="1_Indian_rupee_(1918)" class="img-fluid mb-2 rounded">
  <h4>1_Indian_rupee_(1918)</h4>
  <p>India, 1900s, Rare, Coin</p>
</div>

<div class="coin-card col-md-4" data-country="India" data-era="1900s" data-rarity="Rare" data-type="coin">
  <img src="/static/coins/india/1900s/1 Anna 1945.png" alt="1 Anna 1945" class="img-fluid mb-2 rounded">
  <h4>1 Anna 1945</h4>
  <p>India, 1900s, Rare, Coin</p>
</div>

<div class="coin-card col-md-4" data-country="India" data-era="1900s" data-rarity="Rare" data-type="coin">
  <img src="/static/coins/india/1900s/2 Anna 1954.png" alt="2 Anna 1954" class="img-fluid mb-2 rounded">
  <h4>2 Anna 1954</h4>
  <p>India, 1900s, Rare, Coin</p>
</div>

<div class="coin-card col-md-4" data-country="India" data-era="1900s" data-rarity="Rare" data-type="coin">
  <img src="/static/coins/india/1900s/1 paisa 1967.png" alt="1 paisa 1967" class="img-fluid mb-2 rounded">
  <h4>1 paisa 1967</h4>
  <p>India, 1900s, Rare, Coin</p>
</div>

<div class="coin-card col-md-4" data-country="India" data-era="1900s" data-rarity="Rare" data-type="coin">
  <img src="/static/coins/india/1900s/20 paise.png" alt="20 paise" class="img-fluid mb-2 rounded">
  <h4>20 paise</h4>
  <p>India, 1900s, Rare, Coin</p>
</div>

<div class="coin-card col-md-4" data-country="India" data-era="1900s" data-rarity="Rare" data-type="coin">
  <img src="/static/coins/india/1900s/Half rupee 1947.png" alt="Half rupee 1947" class="img-fluid mb-2 rounded">
  <h4>Half rupee 1947</h4>
  <p>India, 1900s, Rare, Coin</p>
</div>

<div class="coin-card col-md-4" data-country="India" data-era="1900s" data-rarity="Uncommon" data-type="coin">
  <img src="/static/coins/india/1900s/1 rupee 1954.png" alt="1 rupee 1954" class="img-fluid mb-2 rounded">
  <h4>1 rupee 1954</h4>
  <p>India, 1900s, Uncommon, Coin</p>
</div>

<!-- modern-->

<div class="coin-card col-md-4" data-country="India" data-era="MODERN" data-rarity="Uncommon" data-type="coin">
  <img src="/static/coins/india/modern/2 rupees coin (1998).png" alt="2 rupees coin (1998)" class="img-fluid mb-2 rounded">
  <h4>2 rupees coin (1998)</h4>
  <p>India, Modern , Uncommon, Coin</p>
</div>

<div class="coin-card col-md-4" data-country="India" data-era="MODERN" data-rarity="Uncommon" data-type="coin">
  <img src="/static/coins/india/modern/5 rupees coin (1999).png" alt="5 rupees coin (1999)" class="img-fluid mb-2 rounded">
  <h4>5 rupees coin (1999)</h4>
  <p>India, Modern , Uncommon, Coin</p>
</div>

<div class="coin-card col-md-4" data-country="India" data-era="MODERN" data-rarity="Uncommon" data-type="coin">
  <img src="/static/coins/india/modern/10 rupees coin (2005).png" alt="10 rupees coin (2005)" class="img-fluid mb-2 rounded">
  <h4>10 rupees coin (2005)</h4>
  <p>India, Modern , Uncommon, Coin</p>
</div>

<div class="coin-card col-md-4" data-country="India" data-era="MODERN" data-rarity="Uncommon" data-type="coin">
  <img src="/static/coins/india/modern/5 rupees coin (2007).png" alt="5 rupees coin (2007)" class="img-fluid mb-2 rounded">
  <h4>5 rupees coin (2007)</h4>
  <p>India, Modern , Uncommon, Coin</p>
</div>

<div class="coin-card col-md-4" data-country="India" data-era="MODERN" data-rarity="Uncommon" data-type="coin">
  <img src="/static/coins/india/modern/10 rupees coin (2008).png" alt="10 rupees coin (2008)" class="img-fluid mb-2 rounded">
  <h4>10 rupees coin (2008)</h4>
  <p>India, Modern , Uncommon, Coin</p>
</div>

<div class="coin-card col-md-4" data-country="India" data-era="MODERN" data-rarity="Common" data-type="coin">
  <img src="/static/coins/india/modern/10 rupees coin (2011).png" alt="10 rupees coin (2011)" class="img-fluid mb-2 rounded">
  <h4>10 rupees coin (2011)</h4>
  <p>India, Modern , Common, Coin</p>
</div>

<div class="coin-card col-md-4" data-country="India" data-era="MODERN" data-rarity="Common" data-type="coin">
  <img src="/static/coins/india/modern/1 rupee coin.png" alt="1 rupee coin" class="img-fluid mb-2 rounded">
  <h4>1 rupee coin</h4>
  <p>India, Modern , Common, Coin</p>
</div>

<div class="coin-card col-md-4" data-country="India" data-era="MODERN" data-rarity="Common" data-type="coin">
  <img src="/static/coins/india/modern/1 rupee coin (1998).png" alt="1 rupee coin (1998)" class="img-fluid mb-2 rounded">
  <h4>1 rupee coin (1998)</h4>
  <p>India, Modern , Common, Coin</p>
</div>

<div class="coin-card col-md-4" data-country="India" data-era="MODERN" data-rarity="Common" data-type="coin">
  <img src="/static/coins/india/modern/2 rupees coin.png" alt="2 rupees coin" class="img-fluid mb-2 rounded">
  <h4>2 rupees coin</h4>
  <p>India, Modern , Common, Coin</p>
</div>

<div class="coin-card col-md-4" data-country="India" data-era="MODERN" data-rarity="Common" data-type="coin">
  <img src="/static/coins/india/modern/5 rupees coin.png" alt="5 rupees coin" class="img-fluid mb-2 rounded">
  <h4>5 rupees coin</h4>
  <p>India, Modern , Common, Coin</p>
</div>
